.dashboardContainer {
    background-color: #888888;  
    color: #D3D3D3;
    display:flex;
}


.dashboardCol {
    display: flex;
    flex-direction: row;
  
}

.btn.btn-custom {
    background-color: #66b3ff;
    color: #D3D3D3;   
}

.contained-modal-title-vcenter.modal-title.h4 {
    color: #D3D3D3; 
   
}


.StratagemLogo {
    width: 40px;
    height: 40px;
    margin-left: .5rem;
}

.userCol {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 20px;
}

.notesCol {
    margin-left: 2rem;
}

.navbarCol {
    margin-top: 1.5rem;
}
.dashboard-title{
    display:flex;
    color: #D3D3D3; 
    justify-content: center;  

}
.registrationLogo{
    justify-content: space-around;

}