.resourceFormContainer {
    background-color: #1f3d7a;  
    color: #D3D3D3;
    font-size: larger;
    margin-bottom: 2rem;;
}

.ResourceFormButton.btn.btn-custom {
    background-color: #66b3ff;
    color: #D3D3D3; 
    font-size: larger; 
}
.ResourceFormButton{
    color: #2196F3
  }
.ResourceFormCol{
    display: flex;
    justify-content: center;
}
.resourceSubmitButton{
    display: flex;
    justify-content: center;
}
.ResourceFormLbl{
    color: #D3D3D3; 
    display: flex;
    justify-content: center;
}