.resourceEditFormContainer {
    background-color: #1f3d7a;  
    color: #D3D3D3;
    font-size: larger;
    
   
   
    
   
    
}

.ResourceEditFormButton.btn.btn-custom {
    background-color: #66b3ff;
    color: #D3D3D3; 
    font-size: larger; 
    font-weight: bolder;
     
}
.ResourceEditFormButton{
    color: #2196F3;
    justify-content: center;
    align-content: center;
  
  }
.ResourceEditFormCol{
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding: 40px;
    padding-left: 115px;
    
    
    
   
}
.resourceEditSubmitButton{
  padding-top: 482px;
  justify-content: space-evenly;
  
  
  ;
  
    

    
}
.ResourceEditFormLbl{
    color: #D3D3D3; 
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    font-weight: bolder;
    
}
.ResourceEditFormGrp{
    
    /* padding: 40px; */
    align-content: flex-end;
    
    font-weight: bolder;
    
}